.pokedex-card {
  --card-radius: 1rem;
  --card-padding: 0.75rem;
  --card-gap: 0.5rem;

  display: flex;
  flex-direction: column;
  height: 100%;

  border-radius: var(--card-radius);
  overflow: hidden;
  background: linear-gradient(to bottom, var(--card-bg-from), var(--card-bg-to));
}


.pokedex-card__media {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 9rem;
  padding: 0.75rem;
}

.pokedex-card__type-circle {
  position: absolute;
  bottom: 0;
}

.pokedex-card__image {
  width: 100%;
  max-width: 8rem;
  z-index: 2;
}

.pokedex-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);

  padding: var(--card-padding);
}

.pokedex-card__id {
  font-size: var(--text-xs);
  line-height:  var(--leading-none);
  font-weight: 700;

  color: var(--text-secondary);
  letter-spacing: 0.04em;
}

.pokedex-card__name {
  font-size: var(--text-base);
  line-height: var(--leading-none);
  font-weight: 700;
}

.pokedex-card__types {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}
