<div class="pokedex-card">
  <div class="pokedex-card__media">
    <app-pokedex-type-circle
      class="pokedex-card__type-circle"
      [pokemonType]="primaryPokemonType()">
    </app-pokedex-type-circle>

    <app-image
      class="pokedex-card__image"
      [imageSrc]="pokemonItem().image"
      [imageAlt]="pokemonItem().name">
    </app-image>
  </div>

  <div class="pokedex-card__content">
    <p class="pokedex-card__id">
      {{ pokemonItem().id | pokedexIdPipe }}
    </p>

    <p class="pokedex-card__name">
      {{ pokemonItem().name | titlecase }}
    </p>

    <div class="pokedex-card__types">
      @for (type of pokemonItem().types; track type) {
        <app-type
          [pokemonType]="type"
          [size]="'sm'"
          [label]="type | titlecase">
        </app-type>
      }
    </div>
  </div>
</div>
