.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.pagination__button {
  padding: 0.5rem 0.75rem;
  line-height: var(--leading-none);
  border-radius: 0.5rem;
  font-weight: 500;

  background-color: var(--control-bg);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination__button:hover {
  background-color: var(--control-bg-hover);
}

.pagination__button--active {
  background-color: var(--control-bg-active);
}

.pagination__button:disabled {
  pointer-events: none;
  cursor: default;
}
