.app-layout {
  display: grid;
  grid-template-columns: auto 1fr; /* auto folgt der Sidebar-Breite */
  height: 100dvh;
  overflow: hidden;
}

.app-layout__sidebar {
  width: 16rem;
  height: 100dvh;
  padding: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.3s ease, padding 0.3s ease;
}

@media (max-width: 778px) {
  .app-layout__sidebar {
    width: 6rem;
  }
}

.app-layout__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-layout__header {
  height: 5rem;
  background-color: transparent;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  z-index: 10;
}

.app-layout__content {
  flex-grow: 1;
  padding: 3rem 2rem 2rem;
  overflow-y: auto;
}
