<div class="min-h-dvh relative">

  <!-- SIDEBAR -->
  <aside class="fixed left-0 top-0 h-dvh w-64 bg-transparent p-6">
    <app-side-navigation/>
  </aside>

  <!-- HEADER -->
  <header
    class="fixed top-0 left-64 right-0 h-20 bg-black/20 backdrop-blur-md px-8 flex items-center justify-between"
  >
    <input
      type="text"
      placeholder="Search Pokemon..."
      class="bg-black/30 px-4 py-2 rounded-lg outline-none focus:ring-2 focus:ring-fire-primary w-80"
    />

    <button class="bg-fire-primary hover:bg-fire-secondary px-4 py-2 rounded-lg transition">
      Login
    </button>
  </header>

  <!-- CONTENT -->
  <main
    class="ml-64 pt-20 p-8 overflow-y-auto min-h-dvh"
  >
    <h1 class="text-3xl font-bold mb-6">
      Page Title
    </h1>

    <router-outlet></router-outlet>
  </main>

</div>
