$types: fire, water, grass, electric, psychic, ice, dragon, dark, fairy, fighting, poison, ground, flying, bug, rock, ghost, steel, normal;

@each $type in $types {
  .type-#{$type} {
    background: linear-gradient(
        to bottom,
        var(--type-#{$type}-primary),
        var(--type-#{$type}-secondary)
    );
  }

  .type-#{$type}-transparent {
    background: linear-gradient(
        to bottom,
        var(--type-#{$type}-primary),
        var(--card-bg-transparent)
    );
  }
}
