.pokedex-grid {
  --card-min-width: 186px;
  --grid-gap: 1.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), 1fr));
  gap: var(--grid-gap);
  align-items: stretch;
}

.pokedex-pagination {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}
