.sidebar-nav-item__link {
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  width: 100%;
  line-height: var(--leading-none);
  border-radius: 9999px;

  font-weight: 700;
  color: var(--text-secondary);
  transition: all 0.3s ease;
}

.sidebar-nav-item__link:hover {
  color: var(--text-primary);
}

.sidebar-nav-item--active {
  color: var(--text-primary);
  background: linear-gradient(to right, var(--sidebar-item-active-from), var(--sidebar-item-active-to));
}

.sidebar-nav-item__icon {
  flex-shrink: 0;
}
