.search-input {
  --input-padding: 0 1rem;
  --input-gap: 0.75rem;
  --input-bg: var(--control-bg);
  --input-min-height: 2.5rem;
  --input-min-width: 16rem;
  --input-radius: 9999px;

  display: flex;
  align-items: center;
  gap: var(--input-gap);

  padding: var(--input-padding);
  min-height: var(--input-min-height);
  min-width: var(--input-min-width);

  background-color: var(--input-bg);
  border-radius: var(--input-radius);

  font-size: var(--text-sm);
  line-height: var(--leading-none);
}

.search-input__icon {
  flex-shrink: 0;
  opacity: 0.8;
}

.search-input__field {
  flex-grow: 1;
  outline: none;
  border: none;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
}
