@import 'tailwindcss';

@font-face {
  font-family: 'Play';
  src: url('/fonts/Play-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Play';
  src: url('/fonts/Play-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Font */
  --font-sans: 'Play', sans-serif;

  /* Text */
  --text-primary: #FFFFFF;
  --text-secondary: #AFAFC8;

  /* Sidebar */
  --sidebar-bg-from: #1A133A;
  --sidebar-bg-to: #2C244E;
  --sidebar-item-active-from: rgba(172, 82, 115, 1);
  --sidebar-item-active-to: rgba(85, 56, 118, 0.2);

  /* Form Control */
  --control-bg: #2E254B;

  /* Card */
  --card-bg-from: rgba(47, 33, 59, 0.8);
  --card-bg-to: rgba(35, 25, 36, 0.8);
  --card-border: #2f2340;

  /* Page */
  --page-bg-from: #0D0924;
  --page-bg-to: #191428;

  /* Pokemon Types */
  --type-fire-primary: #f97316;
  --type-fire-secondary: #fb923c;
  --type-water-primary: #60a5fa;
  --type-water-secondary: #93c5fd;
  --type-grass-primary: #5fd068;
  --type-grass-secondary: #6ee77b;
  --type-electric-primary: #fde047;
  --type-electric-secondary: #facc15;
  --type-psychic-primary: #fb7185;
  --type-psychic-secondary: #fda4af;
  --type-ice-primary: #67e8f9;
  --type-ice-secondary: #a5f3fc;
  --type-dragon-primary: #6366f1;
  --type-dragon-secondary: #818cf8;
  --type-dark-primary: #4b5563;
  --type-dark-secondary: #6b7280;
  --type-fairy-primary: #f472b6;
  --type-fairy-secondary: #f9a8d4;
  --type-fighting-primary: #e11d48;
  --type-fighting-secondary: #ef4444;
  --type-poison-primary: #a855f7;
  --type-poison-secondary: #c084fc;
  --type-ground-primary: #f59e0b;
  --type-ground-secondary: #fbbf24;
  --type-flying-primary: #93c5fd;
  --type-flying-secondary: #bae6fd;
  --type-bug-primary: #92d050;
  --type-bug-secondary: #a3e635;
  --type-rock-primary: #d6d3a3;
  --type-rock-secondary: #e7e5b4;
  --type-ghost-primary: #8b5cf6;
  --type-ghost-secondary: #a78bfa;
  --type-steel-primary: #94a3b8;
  --type-steel-secondary: #cbd5e1;
  --type-normal-primary: #9ca3af;
  --type-normal-secondary: #d1d5db;
}

@theme {
  /* Font */
  --font-sans: 'Play', sans-serif;

  /* Text */
  --color-typo-primary: var(--text-primary);
  --color-typo-secondary: var(--text-secondary);

  /* Page Gradient */
  --color-page-bg-from: var(--page-bg-from);
  --color-page-bg-to: var(--page-bg-to);

  /* Form Control */
  --color-control-bg: var(--control-bg);

  /* Sidebar */
  --color-sidebar-bg-from: var(--sidebar-bg-from);
  --color-sidebar-bg-to: var(--sidebar-bg-to);
  --color-sidebar-item-active-from: var(--sidebar-item-active-from);
  --color-sidebar-item-active-to: var(--sidebar-item-active-to);

  /* Card */
  --color-card-bg-from: var(--card-bg-from);
  --color-card-bg-to: var(--card-bg-to);
  --color-card-border: var(--card-border);

  /* Type Gradients */
  --color-grass-primary: #5fd068;
  --color-grass-secondary: #6ee77b;
  --color-fire-primary: #f97316;
  --color-fire-secondary: #fb923c;
  --color-water-primary: #60a5fa;
  --color-water-secondary: #93c5fd;
  --color-electric-primary: #fde047;
  --color-electric-secondary: #facc15;
  --color-psychic-primary: #fb7185;
  --color-psychic-secondary: #fda4af;
  --color-ghost-primary: #8b5cf6;
  --color-ghost-secondary: #a78bfa;
  --color-dark-primary: #4b5563;
  --color-dark-secondary: #6b7280;
  --color-fairy-primary: #f472b6;
  --color-fairy-secondary: #f9a8d4;
  --color-poison-primary: #a855f7;
  --color-poison-secondary: #c084fc;
  --color-ground-primary: #f59e0b;
  --color-ground-secondary: #fbbf24;
  --color-rock-primary: #d6d3a3;
  --color-rock-secondary: #e7e5b4;
  --color-ice-primary: #67e8f9;
  --color-ice-secondary: #a5f3fc;
  --color-flying-primary: #93c5fd;
  --color-flying-secondary: #bae6fd;
  --color-steel-primary: #94a3b8;
  --color-steel-secondary: #cbd5e1;
  --color-dragon-primary: #6366f1;
  --color-dragon-secondary: #818cf8;
  --color-bug-primary: #92d050;
  --color-bug-secondary: #a3e635;
  --color-fighting-primary: #e11d48;
  --color-fighting-secondary: #ef4444;
  --color-normal-primary: #9ca3af;
  --color-normal-secondary: #d1d5db;
}

@layer base {
  body {
    @apply font-sans min-h-dvh bg-linear-to-bl from-page-bg-from to-page-bg-to text-typo-primary;
  }

  h1 {
    @apply text-6xl leading-none font-bold
  }
}

@layer components {
  .navigation-gradient {
    @apply bg-linear-to-t from-sidebar-bg-from to-sidebar-bg-to;
  }

  .card-gradient {
    @apply bg-linear-to-t from-card-bg-from to-card-bg-to;
  }

  .navbar-item-active{
    @apply bg-linear-to-r from-sidebar-item-active-from to-sidebar-item-active-to text-typo-primary;
  }

  .type-gradient {
    background-image: linear-gradient(
      to bottom,
      var(--type-secondary),
      var(--type-primary)
    );
  }

  .type-fire {
    --type-primary: var(--color-fire-primary);
    --type-secondary: var(--color-fire-secondary);
  }

  .type-water {
    --type-primary: var(--color-water-primary);
    --type-secondary: var(--color-water-secondary);
  }

  .type-grass {
    --type-primary: var(--color-grass-primary);
    --type-secondary: var(--color-grass-secondary);
  }

  .type-electric {
    --type-primary: var(--color-electric-primary);
    --type-secondary: var(--color-electric-secondary);
  }

  .type-psychic {
    --type-primary: var(--color-psychic-primary);
    --type-secondary: var(--color-psychic-secondary);
  }

  .type-ghost {
    --type-primary: var(--color-ghost-primary);
    --type-secondary: var(--color-ghost-secondary);
  }

  .type-dark {
    --type-primary: var(--color-dark-primary);
    --type-secondary: var(--color-dark-secondary);
  }

  .type-fairy {
    --type-primary: var(--color-fairy-primary);
    --type-secondary: var(--color-fairy-secondary);
  }

  .type-poison {
    --type-primary: var(--color-poison-primary);
    --type-secondary: var(--color-poison-secondary);
  }

  .type-ground {
    --type-primary: var(--color-ground-primary);
    --type-secondary: var(--color-ground-secondary);
  }

  .type-rock {
    --type-primary: var(--color-rock-primary);
    --type-secondary: var(--color-rock-secondary);
  }

  .type-ice {
    --type-primary: var(--color-ice-primary);
    --type-secondary: var(--color-ice-secondary);
  }

  .type-flying {
    --type-primary: var(--color-flying-primary);
    --type-secondary: var(--color-flying-secondary);
  }

  .type-steel {
    --type-primary: var(--color-steel-primary);
    --type-secondary: var(--color-steel-secondary);
  }

  .type-dragon {
    --type-primary: var(--color-dragon-primary);
    --type-secondary: var(--color-dragon-secondary);
  }

  .type-bug {
    --type-primary: var(--color-bug-primary);
    --type-secondary: var(--color-bug-secondary);
  }

  .type-fighting {
    --type-primary: var(--color-fighting-primary);
    --type-secondary: var(--color-fighting-secondary);
  }

  .type-normal {
    --type-primary: var(--color-normal-primary);
    --type-secondary: var(--color-normal-secondary);
  }
}
