@import 'tailwindcss';

@font-face {
  font-family: 'Play';
  src: url('/fonts/Play-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Play';
  src: url('/fonts/Play-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Font */
  --font-sans: 'Play', sans-serif;

  /* Text */
  --text-primary: #FFFFFF;
  --text-secondary: #AFAFC8;

  /* Sidebar */
  --sidebar-bg-from: #1A133A;
  --sidebar-bg-to: #2C244E;
  --sidebar-item-active-from: rgba(172, 82, 115, 1);
  --sidebar-item-active-to: rgba(85, 56, 118, 0.2);

  /* Form Control */
  --control-bg: #2E254B;
  --control-bg-active: #A34F72;
  --control-bg-hover: #4F4272;

  /* Tag */
  --tag-bg: #332e5e;

  /* Card */
  --card-bg-from: #29214A;
  --card-bg-to: #101032;
  --card-border: #2f2340;
  --card-bg-transparent: rgba(50, 61, 96, 0.5);

  /* Page */
  --page-bg-from: #0D0924;
  --page-bg-to: #191428;

  /* Pokemon Type Default */
  --type-default-primary: rgba(255, 255, 255, 1);
  --type-default-secondary: rgba(255, 255, 255, 0);

  /* Pokemon Types */
  --type-fire-primary: #f97316;
  --type-fire-secondary: #fb923c;
  --type-water-primary: #60a5fa;
  --type-water-secondary: #93c5fd;
  --type-grass-primary: #5fd068;
  --type-grass-secondary: #6ee77b;
  --type-electric-primary: #fde047;
  --type-electric-secondary: #facc15;
  --type-psychic-primary: #fb7185;
  --type-psychic-secondary: #fda4af;
  --type-ice-primary: #67e8f9;
  --type-ice-secondary: #a5f3fc;
  --type-dragon-primary: #6366f1;
  --type-dragon-secondary: #818cf8;
  --type-dark-primary: #4b5563;
  --type-dark-secondary: #6b7280;
  --type-fairy-primary: #f472b6;
  --type-fairy-secondary: #f9a8d4;
  --type-fighting-primary: #e11d48;
  --type-fighting-secondary: #ef4444;
  --type-poison-primary: #a855f7;
  --type-poison-secondary: #c084fc;
  --type-ground-primary: #f59e0b;
  --type-ground-secondary: #fbbf24;
  --type-flying-primary: #93c5fd;
  --type-flying-secondary: #bae6fd;
  --type-bug-primary: #92d050;
  --type-bug-secondary: #a3e635;
  --type-rock-primary: #d6d3a3;
  --type-rock-secondary: #e7e5b4;
  --type-ghost-primary: #8b5cf6;
  --type-ghost-secondary: #a78bfa;
  --type-steel-primary: #94a3b8;
  --type-steel-secondary: #cbd5e1;
  --type-normal-primary: #9ca3af;
  --type-normal-secondary: #d1d5db;
}

@theme {
  /* Font */
  --font-sans: 'Play', sans-serif;

  /* Text */
  --color-typo-primary: var(--text-primary);
  --color-typo-secondary: var(--text-secondary);

  /* Page Gradient */
  --color-page-bg-from: var(--page-bg-from);
  --color-page-bg-to: var(--page-bg-to);

  /* Form Control */
  --color-control-bg: var(--control-bg);
  --color-control-bg-active: var(--control-bg-active);
  --color-control-bg-hover: var(--control-bg-hover);

  /* Tag */
  --color-tag-bg: var(--tag-bg);

  /* Sidebar */
  --color-sidebar-bg-from: var(--sidebar-bg-from);
  --color-sidebar-bg-to: var(--sidebar-bg-to);
  --color-sidebar-item-active-from: var(--sidebar-item-active-from);
  --color-sidebar-item-active-to: var(--sidebar-item-active-to);

  /* Card */
  --color-card-bg-from: var(--card-bg-from);
  --color-card-bg-to: var(--card-bg-to);
  --color-card-border: var(--card-border);
  --color-card-bg-transparent: var(--card-bg-transparent);

  /* Type Default */
  --color-default-primary: var(--type-default-primary);
  --color-default-secondary: var(--type-default-secondary);

  /* Type Gradients */
  --color-grass-primary: var(--type-grass-primary);
  --color-grass-secondary: var(--type-grass-secondary);
  --color-fire-primary: var(--type-fire-primary);
  --color-fire-secondary: var(--type-fire-secondary);
  --color-water-primary: var(--type-water-primary);
  --color-water-secondary: var(--type-water-secondary);
  --color-electric-primary: var(--type-electric-primary);
  --color-electric-secondary: var(--type-electric-secondary);
  --color-psychic-primary: var(--type-psychic-primary);
  --color-psychic-secondary: var(--type-psychic-secondary);
  --color-ghost-primary: var(--type-ghost-primary);
  --color-ghost-secondary: var(--type-ghost-secondary);
  --color-dark-primary: var(--type-dark-primary);
  --color-dark-secondary: var(--type-dark-secondary);
  --color-fairy-primary: var(--type-fairy-primary);
  --color-fairy-secondary: var(--type-fairy-secondary);
  --color-poison-primary: var(--type-poison-primary);
  --color-poison-secondary: var(--type-poison-secondary);
  --color-ground-primary: var(--type-ground-primary);
  --color-ground-secondary: var(--type-ground-secondary);
  --color-rock-primary: var(--type-rock-primary);
  --color-rock-secondary: var(--type-rock-secondary);
  --color-ice-primary: var(--type-ice-primary);
  --color-ice-secondary: var(--type-ice-secondary);
  --color-flying-primary: var(--type-flying-primary);
  --color-flying-secondary: var(--type-flying-secondary);
  --color-steel-primary: var(--type-steel-primary);
  --color-steel-secondary: var(--type-steel-secondary);
  --color-dragon-primary: var(--type-dragon-primary);
  --color-dragon-secondary: var(--type-dragon-secondary);
  --color-bug-primary: var(--type-bug-primary);
  --color-bug-secondary: var(--type-bug-secondary);
  --color-fighting-primary: var(--type-fighting-primary);
  --color-fighting-secondary: var(--type-fighting-secondary);
  --color-normal-primary: var(--type-normal-primary);
  --color-normal-secondary: var(--type-normal-secondary);
}

@layer base {
  body {
    @apply font-sans min-h-dvh bg-linear-to-bl from-page-bg-from to-page-bg-to text-typo-primary;
  }

  h1 {
    @apply text-6xl leading-none font-bold
  }
}

@layer components {
  .navigation-gradient {
    @apply bg-linear-to-t from-sidebar-bg-from to-sidebar-bg-to;
  }

  .card-gradient {
    @apply bg-linear-to-t from-card-bg-from to-card-bg-to;
  }

  .navbar-item-active{
    @apply bg-linear-to-r from-sidebar-item-active-from to-sidebar-item-active-to text-typo-primary;
  }
}

@layer utilities {
  .type-default{
    @apply bg-linear-to-b from-default-primary to-default-secondary;
  }

  .type-fire {
    @apply bg-linear-to-b from-fire-primary to-fire-secondary;
  }

  .type-water {
    @apply bg-linear-to-b from-water-primary to-water-secondary;
  }

  .type-grass {
    @apply bg-linear-to-b from-grass-primary to-grass-secondary;
  }

  .type-electric {
    @apply bg-linear-to-b from-electric-primary to-electric-secondary;
  }

  .type-psychic {
    @apply bg-linear-to-b from-psychic-primary to-psychic-secondary;
  }

  .type-ghost {
    @apply bg-linear-to-b from-ghost-primary to-ghost-secondary;
  }

  .type-dark {
    @apply bg-linear-to-b from-dark-primary to-dark-secondary;
  }

  .type-fairy {
    @apply bg-linear-to-b from-fairy-primary to-fairy-secondary;
  }

  .type-poison {
    @apply bg-linear-to-b from-poison-primary to-poison-secondary;
  }

  .type-ground {
    @apply bg-linear-to-b from-ground-primary to-ground-secondary;
  }

  .type-rock {
    @apply bg-linear-to-b from-rock-primary to-rock-secondary;
  }

  .type-ice {
    @apply bg-linear-to-b from-ice-primary to-ice-secondary;
  }

  .type-flying {
    @apply bg-linear-to-b from-flying-primary to-flying-secondary;
  }

  .type-steel {
    @apply bg-linear-to-b from-steel-primary to-steel-secondary;
  }

  .type-dragon {
    @apply bg-linear-to-b from-dragon-primary to-dragon-secondary;
  }

  .type-bug {
    @apply bg-linear-to-b from-bug-primary to-bug-secondary;
  }

  .type-fighting {
    @apply bg-linear-to-b from-fighting-primary to-fighting-secondary;
  }

  .type-normal {
    @apply bg-linear-to-b from-normal-primary to-normal-secondary;
  }

  .type-fire-transparent {
    @apply bg-linear-to-b from-fire-primary to-card-bg-transparent;
  }

  .type-water-transparent {
    @apply bg-linear-to-b from-water-primary to-card-bg-transparent;
  }

  .type-grass-transparent {
    @apply bg-linear-to-b from-grass-primary to-card-bg-transparent;
  }

  .type-electric-transparent {
    @apply bg-linear-to-b from-electric-primary to-card-bg-transparent;
  }

  .type-psychic-transparent {
    @apply bg-linear-to-b from-psychic-primary to-card-bg-transparent;
  }

  .type-ghost-transparent {
    @apply bg-linear-to-b from-ghost-primary to-card-bg-transparent;
  }

  .type-dark-transparent {
    @apply bg-linear-to-b from-dark-primary to-card-bg-transparent;
  }

  .type-fairy-transparent {
    @apply bg-linear-to-b from-fairy-primary to-card-bg-transparent;
  }

  .type-poison-transparent {
    @apply bg-linear-to-b from-poison-primary to-card-bg-transparent;
  }

  .type-ground-transparent {
    @apply bg-linear-to-b from-ground-primary to-card-bg-transparent;
  }

  .type-rock-transparent {
    @apply bg-linear-to-b from-rock-primary to-card-bg-transparent;
  }

  .type-ice-transparent {
    @apply bg-linear-to-b from-ice-primary to-card-bg-transparent;
  }

  .type-flying-transparent {
    @apply bg-linear-to-b from-flying-primary to-card-bg-transparent;
  }

  .type-steel-transparent {
    @apply bg-linear-to-b from-steel-primary to-card-bg-transparent;
  }

  .type-dragon-transparent {
    @apply bg-linear-to-b from-dragon-primary to-card-bg-transparent;
  }

  .type-bug-transparent {
    @apply bg-linear-to-b from-bug-primary to-card-bg-transparent;
  }

  .type-fighting-transparent {
    @apply bg-linear-to-b from-fighting-primary to-card-bg-transparent;
  }

  .type-normal-transparent {
    @apply bg-linear-to-b from-normal-primary to-card-bg-transparent;
  }
}
