.image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  position: relative;
}

.image-wrapper__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: transform 0.2s ease;
}
