@if (label()) {
  <div class="type-tag">
    <div
      class="type-tag__icon-container"
      [ngClass]="[
        `type-${pokemonType()}`,
        size() === 'sm' ? 'type-tag__icon--sm' : '',
        size() === 'md' ? 'type-tag__icon--md' : '',
        size() === 'lg' ? 'type-tag__icon--lg' : ''
      ]"
    >
      <app-icon
        class="type-tag__icon"
        [iconId]="`type-${pokemonType()}`"
        [size]="10">
      </app-icon>
    </div>

    <span class="type-tag__label">{{ label() }}</span>
  </div>
} @else {
  <div
    class="type-tag type-tag--icon-only"
    [ngClass]="[
      `type-${pokemonType()}`,
      size() === 'sm' ? 'type-tag__icon--sm' : '',
      size() === 'md' ? 'type-tag__icon--md' : '',
      size() === 'lg' ? 'type-tag__icon--lg' : ''
    ]"
  >
    <app-icon [iconId]="`type-${pokemonType()}`"></app-icon>
  </div>
}
