.type-tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;
  border-radius: 9999px;
  background-color: var(--tag-bg);
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.type-tag__icon-container {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-tag__label {
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1;
}

.type-tag__icon, .type__icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size--sm {
  width: 1rem;
  height: 1rem;
}

.size--md {
  width: 1.5rem;
  height: 1.5rem;
}

.size--lg {
  width: 2rem;
  height: 2rem;
}
