.type-tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  background-color: hsl(220 10% 96%);
}

.type-tag--icon-only {
  justify-content: center;
  padding: 0.25rem;
}

.type-tag__icon-container {
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-tag__icon--sm {
  width: 1rem;
  height: 1rem;
}

.type-tag__icon--md {
  width: 1.5rem;
  height: 1.5rem;
}

.type-tag__icon--lg {
  width: 2rem;
  height: 2rem;
}

.type-tag__icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-tag__label {
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1;
}
