@if (label()) {
  <div class="type-tag">
    <div
      class="type"
      [ngClass]="[
        `type-${pokemonType()}`,
        size() === 'sm' ? 'size--sm' : '',
        size() === 'md' ? 'size--md' : '',
        size() === 'lg' ? 'size--lg' : ''
      ]"
    >
      <app-icon
        class="type-tag__icon"
        [iconId]="`type-${pokemonType()}`"
        [size]="10">
      </app-icon>
    </div>

    <span class="type-tag__label">{{ label() }}</span>
  </div>
} @else {
  <div
    class="type"
    [ngClass]="[
      `type-${pokemonType()}`,
      size() === 'sm' ? 'size--sm' : '',
      size() === 'md' ? 'size--md' : '',
      size() === 'lg' ? 'size--lg' : ''
    ]"
  >
    <app-icon
      class="type__icon"
      [iconId]="`type-${pokemonType()}`"
      [size]="10">
    </app-icon>
  </div>
}
