html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 100vw;
  transition: background 0.3s ease;
}

html::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

html::-webkit-scrollbar-thumb:active {
  background: #1d4ed8;
}

html::-webkit-scrollbar-button {
  display: none;
}
